* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    background-color: #000000 !important;
}


/* SECCIÓN BANNER */

.logo{
    width: 5%;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.header h1{
    color: #fff;
}
.section-banner{
    width: 100%;
}

.carousel-item img{
    width: 100%;
}

/* SECCIÓN PRESENTACIÓN */

.section-presentacion{
    text-align: center;
    color: #fff;
}

#dvPresentacion{
    display: flex;
}

#dvPresentacion span{
    width: 100%;
    background-color: rgb(27, 201, 231);
    display: block;
    text-align: center;
}

#dvPresentacion p{
    text-align: justify;
}

.columnas{
    margin: 15px;
}

/* SECCION DESTACADO */

.section-destacado{
    display: flex;
    color: #fff;
    text-align: center;
    
}

.card{
    background-color: rgb(27, 201, 231) !important;
    color: #fff !important;
}

.card img{
    width: 100%;
    max-height: 202px;
}

.card-text{
    text-align: left;
}

/* SECCIÓN CONTACTO */

.section-contacto{
    color: #fff;
    width: 100%;
}

.section-contacto h2{
    text-align: center;
}

.btn-color{
    background-color: rgb(27, 201, 231) !important;
    color: #fff !important;
}

.form-group{
    margin-top: 15px;
}

/* SECCIÓN FOOTER */

footer{
    background-color: rgb(27, 201, 231) !important;
    color: #fff !important;
    padding: 15px;
    margin: 15px 0 0;
    display: flex;
    justify-content: space-around;
}
footer p{
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
}
footer p i{
    font-size: 25px;
    margin: 0 3px;
}
